.listItem {
  padding: 7px 0 0 0;
  font-size: 1.3rem;
}

.listItemHl {
  padding: 7px 0 0 0;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fff;
}

.listItem:hover {
  background-color: #fff;
}
