.sidebar {
  padding-top: 15px;
  padding-left: 30px;
  width: 305px;
  height: calc(100vh - 44px);
  position: fixed;
  left: 0;
  background-color: #fafafa;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
